/* ---------------------------------
 *    自定义 CSS 覆盖
 * --------------------------------- */
/* 仅PC端修改 */
@media screen and (min-width: 1088px), print {
  body {
    background-image: url("https://picgo-1303870432.cos.ap-shanghai.myqcloud.com/blog/bg1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .navbar,
  .footer {
    background-color: rgba(255,255,255,0.812);
    backdrop-filter: blur(10px);
  }
  .column.is-4,
  .column.is-4-tablet {
    width: 25%;
  }
  .column.is-8,
  .column.is-8-widescreen {
    width: 75%;
  }
  .column-left.is-sticky {
    top: 6rem;
  }
  .navbar-start {
    margin-left: 350px;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  #post-calendar {
    display: flex;
    justify-context: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 230px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .post-calendar-pre {
    overflow-x: auto;
    justify-content: center;
    max-width: 100%;
  }
  .timeline {
    margin-left: 100px;
    padding: 100px 0 0 1.5rem;
    border-left: 1px solid $timeline-fg-line;
  }
  #time-now {
    margin-left: 80px;
  }
}
/*  导航栏固定  */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  z-index: 100;
}
/* 文章图片居中、文字间距宽松  */
.article .content a img {
  margin: auto;
  display: block;
}
.article,
.content {
  letter-spacing: 0.08rem;
}
/* 网站 Logo 自定义  */
.logolink a {
  color: #464646;
  float: left;
  font-size: 20px;
  font-weight: 800;
  text-decoration-line: none;
}
.logolink .sakuraso {
  border-radius: 5px;
  height: auto;
  line-height: 25px;
  padding: 5px;
  text-size-adjust: 100%;
  width: auto;
  background-color: #b3cfd9;
  color: #fff;
}
.logolink .shironeko {
  color: #2fb5b7;
}
.logolink .no {
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  color: #2fb5b7;
}
.button,
article.article .article-more {
  background-color: $primary;
}
.article .title::before {
  content: '# ';
  font-weight: 400;
  color: #ccc;
}
